<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Security-Policy" content="default-src * 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src * 'self' data: content:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!--
        <link rel="stylesheet" href="css/index.css">
        -->
        <title>Hello World</title>
    </head>
    <body id="angular-app">
    <div ng-controller="ListController as vm" class="container">
        <div class="row">
            <div class="col-xl-12">
                <h1>RSS Feeds</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <form class="form">
                    <div class="form-group">
                        <!-- not using input.type="url" to have styles error output -->
                        <input ng-model="vm.url" ng-class="{'is-invalid': !vm.isValidUrl() && vm.url != ''}" type="text" class="form-control" placeholder="Enter RSS URL" />
                    </div>
                    <div class="form-group">
                        <input ng-click="vm.submit()" ng-disabled="!vm.isValidUrl()" type="submit" class="btn btn-primary btn-block" type="button"  value="Search" />
                    </div>
                </form>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12" ng-cloak="">
                <h1>Articles</h1>

                <div ng-repeat="item in vm.items">
                    <div class="card">
                        <img ng-show="item.thumbnail" class="card-img-top" ng-src="{{item.thumbnail}}" alt="{{item.title}}">
                        <div class="card-body">
                            <h5 class="card-title" ng-bind="item.title"></h5>
                            <p class="card-text" ng-bind-html="item.description"></p>
                            <a ng-click="vm.navigate(item.link)" href="" target="_blank" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                    <hr/>
                </div>

            </div>
        </div>

    </div>

    <script src="cordova.js"></script>
        <script src="js/index.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/rss.module.js"></script>
        <script src="js/rss.service.js"></script>
        <script src="js/rss.controller.js"></script>
    </body>
</html>
